/* *{
    margin: 0;
    padding: 0;

}

#joke{
    background-color: azure;
    color: #333;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    width: 100%;
} */


/*-------------------------------------------------Changing html classes using javascript-----------------------------------------------------
//--------------------------------------------------------------------------------------------------------------------------------------

.yellow{
    background-color: yellow;
    color: white;
}
.red{
    background-color: red;
    color: white;
}
.dark{
    color: black;
}
    */


/*========================================================================================================================================
======================================================Practice set chapter 8============================================================ */
/* .bulb{
    background: yellow;
}
.bulbcontainer{
    height: 341px;
    width: 341px;
} */

/*-------------------------------------------------Exercise 5---------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------*/
html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
    color: green;
    font-size: 25px;
}
